$pink-light: (
    bckg-color: #E5C5D0,
    chat-background: #FFEAF1,
    hover-background: #DF98B2,
    chat-user-message: #CC79A1,
    chat-opponent-message: #FFEAF1,
    panel: #FFEAF1,
    button-color: #C26287,
    button-color-hover: #b25277,
    text-color: #000,
    border-color: #ff8fbb,
    scroll-color: #DF98B2,
    scroll-color-hover: #b5708a
);

$pink-dark: (
    bckg-color: #2F1D24,
    chat-background: #3A2933,
    hover-background: #D884A2,
    chat-user-message: #8D4F76,
    chat-opponent-message: #3D2935,
    panel: #3A2933,
    button-color: #7d4468,
    button-color-hover: #643553,
    text-color: #fff,
    border-color: #2F1D24,
    scroll-color: #D884A2,
    scroll-color-hover: #90566c
);

$blue-light: (
    bckg-color: #B6D7E8,
    chat-background: #E0F3F6,
    hover-background: #5CADE0,
    chat-user-message: #3BA3D6,
    chat-opponent-message: #E0F3F6,
    panel: #E0F3F6,
    button-color: #5CADE0,
    button-color-hover: #4d9ccd,
    text-color: #000,
    border-color: #5CADE0,
    scroll-color: #5CADE0,
    scroll-color-hover: #4b91bc
);

$blue-dark: (
    bckg-color: #132121,
    chat-background: #233539,
    hover-background: #4AA0B4,
    chat-user-message: #2E7B8D,
    chat-opponent-message: #233539,
    panel: #233539,
    button-color: #11C0F5,
    button-color-hover: #0ea2d0,
    text-color: #fff,
    border-color: #4AA0B4,
    scroll-color: #4AA0B4,
    scroll-color-hover: #3b8696
);

$wb-light: (
    bckg-color: #DDDDDD,
    chat-background: #FFFFFF,
    hover-background: #FCFCFC,
    chat-user-message: #BEBEBE,
    chat-opponent-message: #F0F0F0,
    panel: #505050,
    button-color: #5F5F5F,
    button-color-hover: #545454,
    text-color: #000,
    border-color: #FCFCFC,
    scroll-color: #FCFCFC,
    scroll-color-hover: #e2e2e2
);

$wb-dark: (
    bckg-color: #292929,
    chat-background: #505050,
    hover-background: #2F1D24,
    chat-user-message: #ADADAD,
    chat-opponent-message: #505050,
    panel: #505050,
    button-color: #A9A9A9,
    button-color-hover: #191919,
    text-color: #fff,
    border-color: #2F1D24,
    scroll-color: #2F1D24,
    scroll-color-hover: #22151a
);

@mixin theme($theme-map) {
    $background: map-get($theme-map, bckg-color);
    $chat-background: map-get($theme-map, chat-background);
    $hover-background: map-get($theme-map, hover-background);
    $chat-user-message: map-get($theme-map, chat-user-message);
    $chat-opponent-message: map-get($theme-map, chat-opponent-message);
    $panel: map-get($theme-map, panel);
    $button-color: map-get($theme-map, button-color);
    $button-color-hover: map-get($theme-map, button-color-hover);
    $text-color: map-get($theme-map, text-color);
    $border-color: map-get($theme-map, border-color);
    $scroll-color: map-get($theme-map, scroll-color);
    $scroll-color-hover: map-get($theme-map, scroll-color-hover);

    --background:#{$background};
    --chat-background: #{$chat-background};
    --hover-background: #{$hover-background};
    --chat-user-message: #{$chat-user-message};
    --chat-opponent-message: #{$chat-opponent-message};
    --panel: #{$panel};
    --button-color: #{$button-color};
    --button-color-hover: #{$button-color-hover};
    --text-color: #{$text-color};
    --border-color: #{$border-color};
    --scroll-color:#{$scroll-color};
    --scroll-color-hover:#{$scroll-color-hover};

}