$pink-light: (
    bckg-color: #E5C5D0,
    chat-background: #FFEAF1,
    hover-background: #DF98B2,
    chat-user-message: #CC79A1,
    chat-opponent-message: #FFEAF1,
    panel: #FFEAF1,
    button-color: #C26287,
    button-color-hover: #b25277,
    text-color: #000,
    border-color: #ff8fbb,
    scroll-color: #DF98B2,
    scroll-color-hover: #b5708a,
    group-name-bg: #d889a6,
    group-name-bg-hover: #cb7795
);

$pink-dark: (
    bckg-color: #2F1D24,
    chat-background: #3A2933,
    hover-background: #b05b79,
    chat-user-message: #8D4F76,
    chat-opponent-message: #3D2935,
    panel: #3A2933,
    button-color: #7d4468,
    button-color-hover: #643553,
    text-color: #fff,
    border-color: #2F1D24,
    scroll-color: #b05b79,
    scroll-color-hover: #90566c,
    group-name-bg: #ab5674,
    group-name-bg-hover: #a54265,
    blacky:true
);

$green-light: (
    bckg-color: #bbfbdc,
    chat-background: #FFEAF1,
    hover-background: #93f5c7,
    chat-user-message: #d6ffd8,
    chat-opponent-message: #edffeb,
    panel: #dffff0,
    button-color: #91f0c4,
    button-color-hover: #6fe3ad,
    text-color: #000,
    border-color: #93f5c7,
    scroll-color: #93f5c7,
    scroll-color-hover: #d2ffc8,
    group-name-bg: #81eab9,
    group-name-bg-hover: #6edda9
);

$green-dark: (
    bckg-color: #1f2f1d,
    chat-background: #293a2f,
    hover-background: #437054,
    chat-user-message: #3b664d,
    chat-opponent-message: #293d32,
    panel: #23342a,
    button-color: #447d5f,
    button-color-hover: #2b4f3b,
    text-color: #fff,
    border-color: #2F1D24,
    scroll-color: #437054,
    scroll-color-hover: #437054,
    group-name-bg: #396b4c,
    group-name-bg-hover: #346245,
    blacky:true
);

$blue-light: (
    bckg-color: #B6D7E8,
    chat-background: #E0F3F6,
    hover-background: #5CADE0,
    chat-user-message: #3BA3D6,
    chat-opponent-message: #E0F3F6,
    panel: #E0F3F6,
    button-color: #5CADE0,
    button-color-hover: #4d9ccd,
    text-color: #000,
    border-color: #5CADE0,
    scroll-color: #5CADE0,
    scroll-color-hover: #4b91bc,
    group-name-bg: #3BA3D6,
    group-name-bg-hover: #3394c5
);

$blue-dark: (
    bckg-color: #132121,
    chat-background: #232e39,
    hover-background: #284990,
    chat-user-message: #2e5a8d,
    chat-opponent-message: #232639,
    panel: #232c39,
    button-color: #2168c0,
    button-color-hover: #1e5597,
    text-color: #fff,
    border-color: #4AA0B4,
    scroll-color: #284990,
    scroll-color-hover: #20376b,
    group-name-bg: #244283,
    group-name-bg-hover: #1e3973,
    blacky:true,
);

$wb-light: (
    bckg-color: #efefef,
    chat-background: #b2b2b2,
    hover-background: #f4f4f4,
    chat-user-message: #c9c9c9,
    chat-opponent-message: #fafafa,
    panel: #e0e0e0,
    button-color: #b0b0b0,
    button-color-hover: #8f8f8f,
    text-color: #000,
    border-color: #FCFCFC,
    scroll-color: #f4f4f4,
    scroll-color-hover: #ebebeb,
    group-name-bg: #eaeaea,
    group-name-bg-hover: #d5d5d5,
);

$wb-dark: (
    bckg-color: #292929,
    chat-background: #505050,
    hover-background: #393939,
    chat-user-message: #4e4e4e,
    chat-opponent-message: #313131,
    panel: #272727,
    button-color: #545454,
    button-color-hover: #3d3d3d,
    text-color: #fff,
    blacky:true,
    border-color: #393939,
    scroll-color: #393939,
    scroll-color-hover: #2d2d2d,
    group-name-bg: #2c2c2c,
    group-name-bg-hover: #393939,
);

@mixin theme($theme-map) {
    $background: map-get($theme-map, bckg-color);
    $chat-background: map-get($theme-map, chat-background);
    $hover-background: map-get($theme-map, hover-background);
    $chat-user-message: map-get($theme-map, chat-user-message);
    $chat-opponent-message: map-get($theme-map, chat-opponent-message);
    $panel: map-get($theme-map, panel);
    $button-color: map-get($theme-map, button-color);
    $button-color-hover: map-get($theme-map, button-color-hover);
    $text-color: map-get($theme-map, text-color);
    $border-color: map-get($theme-map, border-color);
    $scroll-color: map-get($theme-map, scroll-color);
    $scroll-color-hover: map-get($theme-map, scroll-color-hover);
    $group-name-bg: map-get($theme-map, group-name-bg);
    $group-name-bg-hover: map-get($theme-map, group-name-bg-hover);


    --background:#{$background};
    --chat-background: #{$chat-background};
    --hover-background: #{$hover-background};
    --chat-user-message: #{$chat-user-message};
    --chat-opponent-message: #{$chat-opponent-message};
    --panel: #{$panel};
    --button-color: #{$button-color};
    --button-color-hover: #{$button-color-hover};
    --text-color: #{$text-color};
    --border-color: #{$border-color};
    --scroll-color:#{$scroll-color};
    --scroll-color-hover:#{$scroll-color-hover};
    --group-name-bg:#{$group-name-bg};
    --group-name-bg-hover:#{$group-name-bg-hover};

    @if map-get($theme-map, blacky) {
        *[data-icon] {
            filter: invert(1);
        }
    }
}

$themes: (
    "pink-light": $pink-light,
    "blue-light": $blue-light,
    "green-light": $green-light,
    "wb-light": $wb-light,
    "pink-dark": $pink-dark,
    "blue-dark": $blue-dark,
    "green-dark": $green-dark,
    "wb-dark": $wb-dark
);

@each $name, $value in $themes {
    :root[data-selected-theme=#{$name}] {
        @include theme($value);
    }

    div[data-selected-theme=#{$name}] {
        @include theme($value);
    }
}