$background: #E5C5D0;
$chat-background: #FFEAF1;
$hover-background: #DF98B2;
$chat-user-message: #CC79A1;
$chat-opponent-message: #FFEAF1;
$panel: #FFEAF1;
$button-color: #C26287;
$button-color-hover: #b25277;
$text-color: #fff;
$border-color: #ff8fbb;